.room-result[b-5uddce3n1j] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.room-result-duel[b-5uddce3n1j] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room-result-img[b-5uddce3n1j] {
    width: 15rem;
    height: 22rem;
    background-size: cover;
    background-position: center;
    background-image: url('images/y_verso.png');
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    flex-direction: column;
}

.room-result-img > span[b-5uddce3n1j] {
    font-size: 5rem;
    transform: rotateY(180deg);
    color: #000000;
}

.room-result-img > span:last-child[b-5uddce3n1j] {
    font-size: 2rem;
}

.duel-result[b-5uddce3n1j] {
    animation: spin-b-5uddce3n1j 0.8s ease forwards;
    transform-style: preserve-3d;
    background-image: url('images/y_frente.jpg');
}

.room-result-calculated[b-5uddce3n1j] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.room-result[b-5uddce3n1j] >  button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.room-result-calculated > div[b-5uddce3n1j] {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.room-result-calculated > div > span[b-5uddce3n1j] {
    text-align: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 10rem;
}

@keyframes spin-b-5uddce3n1j {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}
